<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
 
<!-- wp:group {"style":{"spacing":{"padding":{"top":"100px","bottom":"100px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-top:100px;padding-bottom:100px"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search..","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"main-default","tagName":"main","className":"gutena-site-main"} /-->
<!-- wp:spacer {"height":"150px"} -->
<div style="height:150px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:template-part {"slug":"footer","tagName":"footer" ,"className":"site-footer"} /-->