<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:spacer {"height":"74px","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:74px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:template-part {"slug":"single-content","tagName":"main","className":"gutena-single-content"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer" ,"className":"site-footer"} /-->